@using Garage3.ViewModels
@model StatisticsViewModel
@{
    ViewData["Title"] = "Statistics";
}

<h1>Receipt</h1>

<div>
    <dl class="row">

    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
